# Project

In [ ]:
import pandas as pd

In [ ]:
# from google.colab import files
# uploaded = files.upload()

In [ ]:
df = pd.read_csv('auto24_cars_raw.csv')

In [ ]:
print(f"Dataset has {df.shape[0]} rows and {df.shape[1]} columns")
print(f"\nColumn names:\n{df.columns.tolist()}")
print(f"\nFirst 5 rows:")
print(df.head())

Dataset has 15612 rows and 12 columns

Column names:
['url', 'brand', 'first_reg', 'type', 'body_type', 'engine', 'fuel', 'mileage', 'drive_type', 'gearbox', 'color', 'price']

First 5 rows:
                                      url                   brand  first_reg  \
0  https://www.auto24.ee/soidukid/4098580     Toyota Land Cruiser     1992.0
1  https://www.auto24.ee/soidukid/4095518              Opel Corsa     2008.0
2  https://www.auto24.ee/soidukid/4241916               Saab 9000     1992.0
3  https://www.auto24.ee/soidukid/4215960  Fiat Albea Comfort LPG     2008.0
4  https://www.auto24.ee/soidukid/4239545              Ford Focus     2007.0

        type   body_type     engine                            fuel   mileage  \
0    maastur  universaal  4.2 123kW                          diisel  464000.0
1  sõiduauto    luukpära   1.2 59kW                         bensiin  180000.0
2  sõiduauto    luukpära  2.3 110kW                         bensiin  305698.0
3  sõiduauto      sedaan   1.4 57kW  bensiin + gaas (LPG/vedelgaas)  179000.0
4  sõiduauto  universaal   1.8 85kW                          diisel  287000.0

  drive_type   gearbox            color  price
0  nelikvedu   manuaal           punane   19.0
1    esivedu  automaat             must  300.0
2    esivedu  automaat            valge  340.0
3    esivedu   manuaal  helesinine met.  399.0
4    esivedu   manuaal    hõbedane met.  399.0

In [ ]:
# Before removing duplicates
print(f"Original rows: {len(df)}")

# Remove duplicates
df = df.drop_duplicates(subset=['url'])

# After removing duplicates
print(f"Rows after removing duplicates: {len(df)}")

Original rows: 15612
Rows after removing duplicates: 14767

In [ ]:
# Before removing
print(f"Original rows: {len(df)}")

# Remove rows with any missing values
df = df.dropna()

# After removing
print(f"Rows after removing missing values: {len(df)}")

Original rows: 14767
Rows after removing missing values: 13826

In [ ]:
#Translate
df['type'] = df['type'].replace('maastur', 'suv')
df['type'] = df['type'].replace('sõiduauto', 'passenger')

In [ ]:
# Split by whitespace and take the first word
df['body_type'] = df['body_type'].str.split().str[0]

In [ ]:
df['body_type'] = df['body_type'].replace('sedaan', 'sedan')
df['body_type'] = df['body_type'].replace('universaal', 'touring')
df['body_type'] = df['body_type'].replace('luukpära', 'hatchback')
df['body_type'] = df['body_type'].replace('mahtuniversaal', 'minivan')
df['body_type'] = df['body_type'].replace('kabriolett', 'cabriolet')
df['body_type'] = df['body_type'].replace('pikap', 'pickup')
df['body_type'] = df['body_type'].replace('kupee', 'coupe')
df['body_type'] = df['body_type'].replace('lahtine', 'open')
df['body_type'] = df['body_type'].replace('limusiin', 'limousine')

In [ ]:
df['fuel'] = df['fuel'].replace('bensiin + gaas (LPG/vedelgaas)', 'bensiin + gaas')
df['fuel'] = df['fuel'].replace('bensiin + gaas (CNG/surugaas)', 'bensiin + gaas')
df['fuel'] = df['fuel'].replace('hübriid (bensiin / elekter)', 'hübriid')
df['fuel'] = df['fuel'].replace('hübriid (diisel / elekter)', 'hübriid')
df['fuel'] = df['fuel'].replace('gaas (CNG/surugaas)', 'gaas')
df['fuel'] = df['fuel'].replace('gaas (LPG/vedelgaas)', 'gaas')
df['fuel'] = df['fuel'].replace('pistikhübriid (diisel / elekter)', 'pistikhübriid')
df['fuel'] = df['fuel'].replace('pistikhübriid (bensiin / elekter)', 'pistikhübriid')

In [ ]:
df['fuel'] = df['fuel'].replace('diisel', 'diesel')
df['fuel'] = df['fuel'].replace('bensiin', 'petrol')
df['fuel'] = df['fuel'].replace('bensiin + gaas', 'petrol + gas')
df['fuel'] = df['fuel'].replace('hübriid', 'hybrid')
df['fuel'] = df['fuel'].replace('elekter', 'electric')
df['fuel'] = df['fuel'].replace('gaas', 'gas')
df['fuel'] = df['fuel'].replace('pistikhübriid', 'plug-in hybrid')
df['fuel'] = df['fuel'].replace('vesinik', 'hydrogen')
df['fuel'] = df['fuel'].replace('etanool', 'ethanol')

In [ ]:
df['drive_type'] = df['drive_type'].replace('nelikvedu', 'four-wheel drive')
df['drive_type'] = df['drive_type'].replace('esivedu', 'front-wheel drive')
df['drive_type'] = df['drive_type'].replace('tagavedu', 'rear-wheel drive')

In [ ]:
df['gearbox'] = df['gearbox'].str.split().str[0]

In [ ]:
# Remove rows where gearbox equals '(Konstantne'
df = df[df['gearbox'] != '(konstantne']
df = df[df['gearbox'] != '(Konstantne']

In [ ]:
df['color'] = df['color'].str.split().str[0]

In [ ]:
# Create translation dictionary
color_translation = {
    'punane': 'red',
    'must': 'black',
    'valge': 'white',
    'helesinine': 'light blue',
    'hõbedane': 'silver',
    'roheline': 'green',
    'heleroheline': 'light green',
    'hall': 'gray',
    'tumehall': 'dark gray',
    'beež': 'beige',
    'sinine': 'blue',
    'lilla': 'purple',
    'pruun': 'brown',
    'tumepunane': 'dark red',
    'oranž': 'orange',
    'helehall': 'light gray',
    'tumesinine': 'dark blue',
    'tumeroheline': 'dark green',
    'helebeež': 'light beige',
    'kollane': 'yellow',
    'kuldne': 'gold',
    'helepruun': 'light brown',
    'tumepruun': 'dark brown',
    'tumeoranž': 'dark orange',
    'helekollane': 'light yellow',
    'tumelilla': 'dark purple',
    'tumebeež': 'dark beige',
    'roosa': 'pink',
    'Gold': 'gold',
    'helepunane': 'light red',
    'Bentayga': 'Bentayga',  # Model name, not a color
    'Rose': 'rose'
}

# Replace values
df['color'] = df['color'].replace(color_translation)

In [ ]:
df = df[df['color'] != 'Bentayga']

In [ ]:
# Count spaces in brand column
space_count = df['brand'].str.count(' ')

# Create model column
df['model'] = None

# Only split where there's exactly 1 space (2 words)
mask = space_count == 1

# Split and assign for rows with exactly 1 space
df.loc[mask, 'model'] = df.loc[mask, 'brand'].str.split(' ').str[1]
df.loc[mask, 'brand'] = df.loc[mask, 'brand'].str.split(' ').str[0]

In [ ]:
# Get the column index of 'brand'
brand_index = df.columns.get_loc('brand')

# Reorder columns - insert model right after brand
cols = df.columns.tolist()
cols.remove('model')
cols.insert(brand_index + 1, 'model')
df = df[cols]

In [ ]:
df['brand'].unique()

array(['Toyota Land Cruiser', 'Opel', 'Saab', ..., 'Ferrari SF90 Spider',
       'Lamborghini Aventador Ultimae 1/350',
       'BMW 750 Ld M-Packet XDrive'], dtype=object)

In [ ]:
df = df[df['brand'] != 'Land']
df = df[df['brand'] != 'MCC']

In [ ]:
# Create mask for rows containing 'Land Rover'
land_rover_mask = df['brand'].str.contains('Land Rover', na=False)

# For Land Rover rows, extract everything after 'Land Rover'
df.loc[land_rover_mask, 'model'] = df.loc[land_rover_mask, 'brand'].str.replace('Land Rover', '', n=1).str.strip()

# Set brand to 'Land Rover' for those rows
df.loc[land_rover_mask, 'brand'] = 'Land Rover'

In [ ]:
land_rover_mask = df['brand'].str.contains('Alfa Romeo', na=False)

df.loc[land_rover_mask, 'model'] = df.loc[land_rover_mask, 'brand'].str.replace('Alfa Romeo', '', n=1).str.strip()

df.loc[land_rover_mask, 'brand'] = 'Alfa Romeo'

In [ ]:
land_rover_mask = df['brand'].str.contains('Aston Martin', na=False)

df.loc[land_rover_mask, 'model'] = df.loc[land_rover_mask, 'brand'].str.replace('Aston Martin', '', n=1).str.strip()

df.loc[land_rover_mask, 'brand'] = 'Aston Martin'

In [ ]:
# Create mask for rows with at least 2 spaces
mask = df['brand'].str.count(' ') >= 2

# For these rows, split on first space only
# First word goes to brand, everything else to model
df.loc[mask, 'model'] = df.loc[mask, 'brand'].str.split(' ', n=1).str[1]
df.loc[mask, 'brand'] = df.loc[mask, 'brand'].str.split(' ', n=1).str[0]

In [ ]:
# Count occurrences of each brand
brand_counts = df['brand'].value_counts()

# Get brands that appear more than once
brands_to_keep = brand_counts[brand_counts > 10].index

# Keep only rows with brands that appear more than once
df = df[df['brand'].isin(brands_to_keep)]

In [ ]:
# Create mask for models with more than 2 words (at least 2 spaces)
mask = df['model'].str.count(' ') >= 2

# Keep only first 2 words for those rows
df.loc[mask, 'model'] = df.loc[mask, 'model'].str.split(' ', n=2).str[:2].str.join(' ')

In [ ]:
df['model'] = df['model'].apply(
    lambda x: x if pd.isna(x) or 'Land Cruiser' in str(x) else str(x).split()[0]
)

In [ ]:
model_counts = df['model'].value_counts()

models_to_keep = model_counts[model_counts > 10].index

df = df[df['model'].isin(models_to_keep)]

In [ ]:
df['engine_size'] = df['engine'].str.extract(r'^([\d.]+)')[0]
df['power'] = df['engine'].str.extract(r'(\d+kW)')[0]
df['power'] = df['power'].str.replace('kW', '')
df.drop('engine', axis=1, inplace=True)

In [ ]:
df.head()

,url,brand,model,first_reg,type,body_type,fuel,mileage,drive_type,gearbox,color,price,engine_size,power
0,https://www.auto24.ee/soidukid/4098580,Toyota,Land Cruiser,1992.0,suv,touring,diesel,464000.0,four-wheel drive,manuaal,red,19.0,4.2,123
1,https://www.auto24.ee/soidukid/4095518,Opel,Corsa,2008.0,passenger,hatchback,petrol,180000.0,front-wheel drive,automaat,black,300.0,1.2,59
4,https://www.auto24.ee/soidukid/4239545,Ford,Focus,2007.0,passenger,touring,diesel,287000.0,front-wheel drive,manuaal,silver,399.0,1.8,85
5,https://www.auto24.ee/soidukid/4197828,Honda,Accord,2008.0,passenger,minivan,petrol,402000.0,front-wheel drive,manuaal,silver,399.0,2.0,114
7,https://www.auto24.ee/soidukid/4204313,Renault,Scenic,2001.0,passenger,hatchback,petrol,222000.0,front-wheel drive,manuaal,light green,399.0,1.4,70

In [ ]:
# df.loc[df['model'].str.startswith('Outlander', na=False), 'model'] = 'Outlander'
# df.loc[df['model'].str.startswith('Pacifica', na=False), 'model'] = 'Pacifica'
# df.loc[df['model'].str.startswith('Passat', na=False), 'model'] = 'Passat'
# df.loc[df['model'].str.startswith('e-tron', na=False), 'model'] = 'e-tron'
# df.loc[df['model'].str.startswith('Z3', na=False), 'model'] = 'Z3'
# df.loc[df['model'].str.startswith('Z4', na=False), 'model'] = 'Z4'
# df.loc[df['model'].str.startswith('ZR-V', na=False), 'model'] = 'ZR-V'
# df.loc[df['model'].str.startswith('Zafira', na=False), 'model'] = 'Zafira'
# df.loc[df['model'].str.startswith('Yaris', na=False), 'model'] = 'Yaris'
# df.loc[df['model'].str.startswith('Zoe', na=False), 'model'] = 'Zoe'
# df.loc[df['model'].str.startswith('Yeti', na=False), 'model'] = 'Yeti'
# df.loc[df['model'].str.startswith('bZ4X', na=False), 'model'] = 'bZ4X'
# df.loc[df['model'].str.startswith('i10', na=False), 'model'] = 'i10'
# df.loc[df['model'].str.startswith('i20', na=False), 'model'] = 'i20'
# df.loc[df['model'].str.startswith('i3', na=False), 'model'] = 'i3'
# df.loc[df['model'].str.startswith('i30', na=False), 'model'] = 'i30'
# df.loc[df['model'].str.startswith('i40', na=False), 'model'] = 'i40'
# df.loc[df['model'].str.startswith('ix35', na=False), 'model'] = 'ix35'
# df.loc[df['model'].str.startswith('iX3', na=False), 'model'] = 'iX3'
# df.loc[df['model'].str.startswith('iX2', na=False), 'model'] = 'iX2'
# df.loc[df['model'].str.startswith('iX', na=False), 'model'] = 'iX'
# df.loc[df['model'].str.startswith('i8', na=False), 'model'] = 'i8'
# df.loc[df['model'].str.startswith('i7', na=False), 'model'] = 'i7'
# df.loc[df['model'].str.startswith('i5', na=False), 'model'] = 'i5'
# df.loc[df['model'].str.startswith('i4', na=False), 'model'] = 'i4'
# df.loc[df['model'].str.startswith('cee\'d', na=False), 'model'] = 'ceed'
# df.loc[df['model'].str.startswith('XC90', na=False), 'model'] = 'XC90'
# df.loc[df['model'].str.startswith('XC70', na=False), 'model'] = 'XC70'
# df.loc[df['model'].str.startswith('XC60', na=False), 'model'] = 'XC60'
# df.loc[df['model'].str.startswith('XC40', na=False), 'model'] = 'XC40'
# df.loc[df['model'].str.startswith('XCeed', na=False), 'model'] = 'XCeed'
# df.loc[df['model'].str.startswith('XV', na=False), 'model'] = 'XV'
# df.loc[df['model'].str.startswith('XJ', na=False), 'model'] = 'XJ'
# df.loc[df['model'].str.startswith('XKR', na=False), 'model'] = 'XKR'
# df.loc[df['model'].str.startswith('XM', na=False), 'model'] = 'XM'
# df.loc[df['model'].str.startswith('Xsara', na=False), 'model'] = 'Xsara'
# df.loc[df['model'].str.startswith('X1', na=False), 'model'] = 'X1'
# df.loc[df['model'].str.startswith('X2', na=False), 'model'] = 'X2'
# df.loc[df['model'].str.startswith('X3', na=False), 'model'] = 'X3'
# df.loc[df['model'].str.startswith('X4', na=False), 'model'] = 'X4'
# df.loc[df['model'].str.startswith('X5', na=False), 'model'] = 'X5'
# df.loc[df['model'].str.startswith('X6', na=False), 'model'] = 'X6'
# df.loc[df['model'].str.startswith('X7', na=False), 'model'] = 'X7'
# df.loc[df['model'].str.startswith('XF', na=False), 'model'] = 'XF'